aiohappyeyeballs==2.6.2
aiohttp==3.13.5
aiosignal==1.4.0
attrs==26.1.0
audioop-lts==0.2.2
cachetools==5.5.2
certifi==2025.6.15
charset-normalizer==3.4.2
discord==2.3.2
discord.py==2.7.1
frozenlist==1.8.0
gspread==6.2.1
httplib2==0.22.0
idna==3.10
multidict==6.7.1
pillow==12.2.0
propcache==0.5.2
proto-plus==1.26.1
protobuf==6.31.1
pyasn1==0.6.1
pyasn1_modules==0.4.2
pyparsing==3.2.3
python-dotenv==1.2.2
requests==2.32.4
requests-oauthlib==2.0.0
rsa==4.9.1
uritemplate==4.2.0
urllib3==2.4.0
yarl==1.24.2
